:root{
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --focusColor: linear-gradient(toright,hsl(249, 99%, 64%),hsl(278, 94%, 30%));
    --Red : hsl(0, 100%, 66%);
}
*{
    box-sizing: border-box;    
    overflow-x:hidden;
}

body{
    font-size:18px;
    font-family: 'Space Grotesk', sans-serif;
    color:var(--White);
    font-weight: 500;
}
#half-back-div{
    position:absolute;
    left:0;
    top:0;
}
#half-back-img{
    width:100%;
    height:auto;
}
.card{
    width:447px;
    height:245px;
    border-radius:8px;
    padding:10px;
    margin-bottom:2px;
    position:relative;
}
#card-owner{
    font-size:0.8em;
}
#card-front{
    background: url("images/bg-card-front.png");
}
#card-back{
    background: url("images/bg-card-back.png");
}
#card-logo{
    margin-top:10px;
    margin-left:10px;
}
#owner-details{
    width:100%;    
    position:relative ;
    bottom:-3.9rem;
}
table{
    width:100%;
    padding-left:1.4rem;
    padding-right:1.4rem;
    text-transform:uppercase;
    letter-spacing: 2px;
}
#card-no{
    font-size:1.6em;
    padding-bottom:0.8rem;
}
#owner-details>#card-owner{
    font-size:0.2em;
}
#card-owner>td:nth-child(2){
    text-align: right;
}
#cvv{
    letter-spacing: 2px;
    font-size:0.9em;
    position:relative;
    
}
form{
    position:relative;
}
.form-group{
    margin-bottom:15px;    
    color:var(--Very-dark-violet);
}
.error{
    border-color:transparent;
    background: linear-gradient(white,white) padding-box, linear-gradient(var(--Red),var(--Red)) border-box;
}
label{
    display:block;
    text-transform:uppercase;
    margin-bottom:8px;
    letter-spacing: 1px;
    font-size:0.9em;
    font-weight:bold;
}
input{
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 7px;
    border-width:2px;
    border-style: solid;
    border-color: var(--Light-grayish-violet);
    width:100%;
    text-indent:20px;
    font-size: inherit;
    font-family: inherit;
}
input[type='submit']{
    background-color: var(--Very-dark-violet);
    color:var(--White);
    font-size:1.2em;
    letter-spacing: 2px;
    font-family: inherit;
}
input::placeholder{
    font-size:18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    color:var(--Light-grayish-violet);
}
input:focus{
    outline-color:transparent;
    border-color:transparent;
    background:linear-gradient(white,white) padding-box, linear-gradient(90deg,hsl(249, 99%, 64%),hsl(278, 94%, 30%)) border-box;
}
input:has(:invalid){
    background: linear-gradient(white,white) padding-box,
    linear-gradient(90deg,var(--Red),var(--Red)) border-box;
}
#datecvc{
    display:flex;
}
#date{
    flex:50%;
}
#mdate,#ydate{
    width:45%;
}
#cvc{
    flex:50%;
    
}
#cvc input{
    width:100%;
}
section[id*="error"]{
    margin-top:5px;
    width:100%;
    font-size:0.6em;
    color:var(--Red);
    font-weight: bold;
    text-transform: capitalize;
}
h1{
    color:var(--Very-dark-violet);
    text-transform: uppercase;
    letter-spacing: 4px;
}
#page2{
    position:relative;
}
#page2 input{
    margin-top:30px;
}
.hidden{
    visibility:hidden;
    display:none;
}
@media(min-width:992px){
    #card-front{
        top:11rem;
        left:8.5rem;
    }
    #card-back{
        top: 13rem;
        left: 14rem;
    }
    #cvv{
        bottom:-6.2rem;
        left:22rem;
    }
    form{
        width:400px;
        top:-230px;
        left:800px;
    }
    #page2{
        width:400px;
        top:-540px;
        left:800px;
        color:var(--Dark-grayish-violet);
        text-align:center;
        letter-spacing: 1px;
    }
}
@media(max-width:991px){
    #half-back-div{
        content:url('images/bg-main-mobile.png');
        width:100%;
    }
    .card{
        width:265px;
        height:140px;
        background-size:265px !important;
        font-size:10px;
    }
    table{
        padding-left:0;
        padding-right:0;

    }
    #card-logo{
        width:42px;
        height:24px;
    }
    #card-front{
        top:7.9rem;
        left:1rem;
        z-index:1;
    }
    #card-back{
        top:-6.2rem;
        left:4.7rem;
    }
    #owner-details{
        bottom:-1.6rem;
    }
    #cvv{
        top: 3.5rem;
        left:12.6rem;

    }
    form{
        margin-top:1rem;
    }
    #page2{
        margin-top:2rem;
        text-align:center;
    }
}